.about{
    position: relative;
    z-index: 1;
    padding-bottom: 94px;
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    &__li{
        width: calc(33.333% - 15.33px);
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EDF6FA;
        border-radius: 90px;
        padding: 20px 40px;
        font-weight: 600;
        font-size: 19px;
        line-height: 23px;
        color: #081626;
        svg{
            margin-right: 10px;
        }
    }
    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
        margin-bottom: 10px;
        span{
            color: #3BA4D1;
        }
    }
    &__desc{
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 19px;
        line-height: 23px;
        color: #081626;
        margin-bottom: 30px;
    }
    &__form{
        background: #FFFFFF;
        border: 1px solid #B4B4B4;
        border-radius: 8px;
        max-width: 917px;
        width: 100%;
        position: relative;
        height: 100px;
        align-items: flex-start;
        margin-bottom: 30px;
        &::before{
            content: '';
            position: absolute;
            max-width: 905px;
            width: 100%;
            top: 0;
            height: 38px;
            background: url(../img/about-ruler.svg) center / cover no-repeat;
            z-index: 1;
        }
    }
    &__input{
        padding: 52px 0 25px 30px !important;
    }
    &__btn{
        border-radius: 0px 8px 8px 0px;
        padding: 53px 67px 25px 67px;
        &::before{
            display: none;
        }
    }
    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 84px;
    }
    &__item{
        width: calc(20% - 38.4px);
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 114px;
        width: 114px;
        height: 114px;
        background: #FFFFFF;
        opacity: 0.5;
        box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        margin-bottom: 15px;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        margin-bottom: 10px;
    }
    &__p{
        font-weight: 400;
        font-size: 13px;
        line-height: 147.9%;
        text-align: center;
        color: #000000;
    }
    &__info{
        max-width: 1024px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.9%;
        text-align: center;
        color: #000000;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            max-width: 760px;
            width: 100%;
            height: 150px;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            background: url(../img/about-circles.svg) center / cover no-repeat;
        }
    }
}