mixin about()   
    .about 
        .about__body.container 
            ul.about__list 
                li.about__li 
                    a(href="#!").about__link 
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_95_252)">
                            <path d="M16.5 0C7.40191 0 0 7.40191 0 16.5001C0 25.5983 7.40191 33 16.5 33C25.5981 33 33 25.5982 33 16.5C33 7.40182 25.5981 0 16.5 0ZM16.5 30.2239C8.93263 30.2239 2.77606 24.0675 2.77606 16.5001C2.77606 8.93273 8.93263 2.77606 16.5 2.77606C24.0674 2.77606 30.2239 8.93263 30.2239 16.5001C30.2239 24.0676 24.0674 30.2239 16.5 30.2239Z" fill="#3BA4D1"/>
                            <path d="M16.5003 6.19519C13.2079 6.19519 10.5293 8.87381 10.5293 12.1662C10.5293 12.9328 11.1508 13.5543 11.9173 13.5543C12.6839 13.5543 13.3054 12.9328 13.3054 12.1662C13.3054 10.4045 14.7386 8.97125 16.5003 8.97125C18.262 8.97125 19.6953 10.4045 19.6953 12.1662C19.6953 13.9279 18.262 15.3612 16.5003 15.3612C15.7338 15.3612 15.1123 15.9827 15.1123 16.7492V19.8876C15.1123 20.6541 15.7338 21.2756 16.5003 21.2756C17.2669 21.2756 17.8884 20.6541 17.8884 19.8876V17.9744C20.5137 17.3471 22.4714 14.9809 22.4714 12.1661C22.4714 8.87382 19.7927 6.19519 16.5003 6.19519Z" fill="#3BA4D1"/>
                            <path d="M16.4998 26.5483C17.573 26.5483 18.4429 25.6783 18.4429 24.6051C18.4429 23.532 17.573 22.662 16.4998 22.662C15.4266 22.662 14.5566 23.532 14.5566 24.6051C14.5566 25.6783 15.4266 26.5483 16.4998 26.5483Z" fill="#3BA4D1"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_95_252">
                            <rect width="33" height="33" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg> 
                        | Задать вопрос
                li.about__li 
                    a(href="#!").about__link 
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_95_259" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="33" height="33">
                            <path d="M0 3.8147e-06H33V33H0V3.8147e-06Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0_95_259)">
                            <path d="M11.1286 20.9652C11.7845 20.4432 11.8905 19.4814 11.3679 18.828C10.8435 18.1728 9.88075 18.0669 9.22668 18.5889L6.81323 20.5181C6.15729 21.0401 6.05139 22.0038 6.57385 22.6571C7.09637 23.3105 8.06104 23.4182 8.71511 22.8944" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6189 25.2707C9.96299 25.7945 9.85703 26.7564 10.3795 27.4098C10.9021 28.065 11.8667 28.1709 12.5208 27.6488L14.9343 25.7197C15.5901 25.1977 15.6961 24.2341 15.1736 23.5806C14.6492 22.9273 13.6864 22.8196 13.0323 23.3434" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.5203 27.6488C11.8662 28.1708 11.7585 29.1346 12.2827 29.7879C12.8053 30.4413 13.7681 30.549 14.424 30.0252L15.7742 28.9447C16.4282 28.4227 16.5361 27.4608 16.0135 26.8075C15.4892 26.1522 14.5264 26.0464 13.8723 26.5684" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.5598 21.5163L24.2845 22.8943C24.9385 23.4181 25.0463 24.38 24.5238 25.0334C23.9994 25.6868 23.0365 25.7945 22.3825 25.2706L20.5117 23.7777" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.5123 23.7778L22.3831 25.2707C23.0372 25.7945 23.145 26.7564 22.6206 27.4098C22.0981 28.065 21.1335 28.1708 20.4794 27.6489L18.6104 26.1541" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.6098 26.1541L19.5434 26.9005C20.1975 27.4243 20.3053 28.3862 19.7827 29.0397C19.2584 29.6949 18.2956 29.8007 17.6415 29.2787L16.2822 28.1928" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.1119 15.5116L32.2318 17.4901C32.4912 17.95 32.3286 18.5432 31.8664 18.7987L30.1399 19.7551C29.6777 20.0106 29.0893 19.85 28.83 19.3919L23.8532 10.5893C23.5919 10.1293 23.7546 9.53791 24.2168 9.28249L25.9451 8.32607C26.4073 8.07057 26.9938 8.22939 27.2533 8.68926L28.2636 10.4743" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.0654 20.4194C26.4728 19.5398 27.3608 18.8882 28.3803 18.5961" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.2848 22.8943C24.9388 23.4181 25.9034 23.3104 26.426 22.657C26.9503 22.0037 26.8426 21.0399 26.1884 20.518L24.0966 18.8461C23.0807 18.0358 21.9334 17.1378 20.8445 16.3566C18.875 14.9458 17.9049 14.0077 15.4366 14.5041C13.5712 14.8801 12.0621 14.3106 11.6693 12.6954C11.4171 11.6569 12.3014 11.1733 14.0535 11.0181L16.8489 10.768C17.4006 10.7188 17.7294 10.6677 18.6228 10.9798L20.3092 11.5693C21.4492 11.9672 21.2957 12.073 22.4814 11.7299L24.2135 11.228" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.78242 9.28249L7.05592 8.32607C6.59372 8.07057 6.00539 8.22939 5.74597 8.68932L0.769223 17.4901C0.50793 17.9501 0.670609 18.5432 1.13274 18.7987L2.85931 19.7551C3.3215 20.0106 3.90983 19.85 4.16925 19.392L9.14607 10.5893C9.40723 10.1293 9.24468 9.53798 8.78242 9.28249Z" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.6749 12.0548L8.79004 11.2189" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.93578 20.4194C6.5265 19.5398 5.6386 18.8882 4.61914 18.5961" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.5 5.92603V2.64265" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.1989 7.28577L10.4814 4.56088" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.8027 7.28577L22.5183 4.56088" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.71462 22.8943L12.1914 20.1165C12.8455 19.5945 13.8102 19.7022 14.3327 20.3555C14.8552 21.0089 14.7492 21.9708 14.0934 22.4947L10.6184 25.2706C9.96249 25.7945 8.99969 25.6868 8.47711 25.0334C7.95278 24.38 8.06061 23.4181 8.71462 22.8943Z" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M29.6855 12.9949V12.9931" stroke="#3BA4D1" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                        | Как с нами работать
                li.about__li 
                    a(href="#!").about__link 
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_95_301" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="33" height="33">
                            <path d="M0 3.8147e-06H33V33H0V3.8147e-06Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0_95_301)">
                            <path d="M22.8068 13.2531C22.801 13.2356 22.7965 13.2176 22.792 13.2002L22.7926 13.1996C22.7965 13.2176 22.8017 13.235 22.8068 13.2531Z" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M23.0104 12.4246C22.8003 12.6347 22.7275 12.9305 22.7919 13.2L18.5774 17.4145C17.6615 18.331 16.9615 19.4454 16.5162 20.6964L15.8832 22.4728L17.637 21.8669C18.9222 21.4228 20.0656 20.7125 21.0015 19.776L23.0104 17.7677V26.884H8.25193C8.25193 28.9845 6.54908 30.6874 4.44791 30.6874C3.3979 30.6874 2.44664 30.262 1.75828 29.5736C1.06992 28.8853 0.644531 27.9339 0.644531 26.884V2.31189H23.0104V12.4246Z" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.7606 30.688H24.1767C25.2271 30.688 26.1782 30.2624 26.8662 29.5738C27.5549 28.8858 27.9804 27.9347 27.9804 26.8843H8.25194C8.25194 27.9347 7.82642 28.8858 7.13774 29.5738C6.44977 30.2624 5.4987 30.688 4.44824 30.688H14.0956" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.81934 7.26331H18.0262" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.02734 11.6923H18.0262" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.02734 16.1212H14.6503" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.88379 22.4055C4.88379 22.4055 5.85903 19.683 7.56568 19.683C9.35129 19.683 8.13461 22.4055 8.13461 22.4055C8.13461 22.4055 8.86603 20.4144 10.0038 20.4144C11.4523 20.4144 10.6708 22.4055 10.6708 22.4055H12.1658" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25.185 15.5928L21.0009 19.7762C20.065 20.7128 18.9217 21.4228 17.6364 21.8673L15.8828 22.473L16.5155 20.6969C16.9614 19.4453 17.6608 18.3311 18.577 17.4149L22.7921 13.1998C22.8258 13.3425 22.8984 13.4786 23.01 13.5895L24.7947 15.3748C24.9063 15.4864 25.0424 15.5591 25.185 15.5928Z" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.7956 15.3746L23.0107 13.5897C22.6891 13.268 22.6891 12.7465 23.0107 12.4249L27.1955 8.24014C28.0101 7.42558 29.3306 7.42558 30.1452 8.24014C30.9598 9.05469 30.9598 10.3753 30.1452 11.1899L25.9605 15.3746C25.6388 15.6963 25.1173 15.6963 24.7956 15.3746Z" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.7926 13.1996C22.7965 13.2176 22.8017 13.235 22.8068 13.2531C22.801 13.2356 22.7965 13.2176 22.792 13.2002L22.7926 13.1996Z" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.7926 13.1996C22.7965 13.2176 22.8017 13.235 22.8068 13.2531C22.801 13.2356 22.7965 13.2176 22.792 13.2002L22.7926 13.1996Z" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M30.1451 8.24015L31.5558 9.6509C32.6222 10.7173 32.6222 12.4463 31.5558 13.5127L28.4961 16.5724" stroke="#3BA4D1" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                        | Заключить договор
            h2.about__title Test#[span 2]B
            p.about__desc Проверили тех, кто првоерил качество
            form(action="#").intro__form.about__form
                input(type="text" placeholder="Введите что вас интересует..." required).intro__input.about__input
                button(type="submit").intro__btn.about__btn
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_95_82)">
                        <path d="M15.8045 14.8617L11.2545 10.3118C12.1359 9.22313 12.6665 7.8398 12.6665 6.33316C12.6665 2.84119 9.82522 -0.00012207 6.33325 -0.00012207C2.84128 -0.00012207 0 2.84116 0 6.33313C0 9.8251 2.84132 12.6664 6.33328 12.6664C7.83992 12.6664 9.22325 12.1358 10.3119 11.2544L14.8619 15.8044C14.9919 15.9344 15.1625 15.9997 15.3332 15.9997C15.5039 15.9997 15.6745 15.9344 15.8045 15.8044C16.0652 15.5437 16.0652 15.1224 15.8045 14.8617ZM6.33328 11.3331C3.57597 11.3331 1.33333 9.09045 1.33333 6.33313C1.33333 3.57581 3.57597 1.33318 6.33328 1.33318C9.0906 1.33318 11.3332 3.57581 11.3332 6.33313C11.3332 9.09045 9.09057 11.3331 6.33328 11.3331Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_95_82">
                        <rect width="16" height="16" fill="white" transform="translate(0 -0.000244141)"/>
                        </clipPath>
                        </defs>
                    </svg>
                    | Поиск
            .about__content 
                .about__item 
                    .about__img 
                        img(src="@img/about-img-1.svg", alt="")
                    p.about__subtitle Автоматизация
                    p.about__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
                .about__item 
                    .about__img 
                        img(src="@img/about-img-2.svg", alt="")
                    p.about__subtitle Надежность
                    p.about__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
                .about__item 
                    .about__img 
                        img(src="@img/about-img-3.svg", alt="")
                    p.about__subtitle Скорость
                    p.about__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
                .about__item 
                    .about__img 
                        img(src="@img/about-img-4.svg", alt="")
                    p.about__subtitle Одно окно
                    p.about__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
                .about__item 
                    .about__img 
                        img(src="@img/about-img-5.svg", alt="")
                    p.about__subtitle В один клик
                    p.about__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
            p.about__info "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."