mixin footer()
    footer.footer   
        .footer__body.container 
            a(href="#!").footer__logo Test#[span 2]B 
            ul.footer__list 
                li.footer__li 
                    a(href="#!").footer__link Органы   
                li.footer__li 
                    a(href="#!").footer__link Лаборатории   
                li.footer__li 
                    a(href="#!").footer__link Сертификации   
                li.footer__li 
                    a(href="#!").footer__link Декларирование   
                li.footer__li 
                    a(href="#!").footer__link Испытания   
                li.footer__li 
                    a(href="#!").footer__link Контакты
    .footer__bottom 
        p.footer__p Все права защищены.2023   