mixin header()
    header.header 
        .header__nav.container 
            a(href="index.html").logo Test#[span 2]B 
            .haeder__content 
                .header__info 
                    p.header__p 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_95_103)">
                            <path d="M0.327497 5.0904C0.115498 4.51776 -0.0380183 3.93294 0.00828029 3.31157C0.0375215 2.92899 0.181291 2.60247 0.461519 2.33442C0.766115 2.04688 1.05365 1.74472 1.35338 1.45231C1.74326 1.0673 2.23305 1.06974 2.62293 1.45231C2.86417 1.68868 3.10297 1.92992 3.34178 2.17116C3.57327 2.40265 3.8072 2.63414 4.03869 2.86807C4.44563 3.27989 4.44807 3.75993 4.04113 4.16931C3.74872 4.46172 3.45874 4.75657 3.16146 5.04411C3.08348 5.11965 3.07617 5.183 3.11759 5.27804C3.31254 5.74589 3.5952 6.16258 3.91198 6.55246C4.55041 7.3371 5.2717 8.03402 6.13187 8.57254C6.31707 8.68707 6.51932 8.77236 6.71182 8.87714C6.81173 8.93075 6.87752 8.91369 6.95794 8.83084C7.24791 8.53112 7.5452 8.23627 7.84248 7.94142C8.23237 7.55641 8.71972 7.55398 9.1096 7.94142C9.58721 8.41415 10.0624 8.88932 10.5351 9.36693C10.9323 9.76656 10.9299 10.2563 10.5302 10.6584C10.2598 10.9313 9.97465 11.1896 9.72123 11.4747C9.35084 11.889 8.88298 12.0254 8.35177 11.9962C7.57688 11.9548 6.8629 11.6965 6.1733 11.3626C4.64301 10.6194 3.3369 9.58868 2.24279 8.28744C1.43379 7.32248 0.766115 6.27467 0.327497 5.0904ZM11.9996 5.96277C11.9996 2.67557 9.32404 0 6.03684 0V1.13553C8.69779 1.13553 10.8641 3.30182 10.8641 5.96277H11.9996ZM8.73434 5.96277H9.86987C9.86987 3.85009 8.14952 2.12973 6.03684 2.12973V3.26527C6.75812 3.26527 7.43554 3.54549 7.94483 4.05478C8.45411 4.56406 8.73434 5.24148 8.73434 5.96277Z" fill="#3BA4D1"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_95_103">
                            <rect width="12" height="12" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        | Телефон для связи:
                    a(href="tel::+7(340)123-00-77") 