mixin intro()
    .intro 
        .intro__body.container 
            h1.intro__title Поиск по наименованиб продукции
            form(action="#").intro__form
                input(type="text" placeholder="Введите что вас интересует..." required).intro__input
                button(type="submit").intro__btn 
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8045 14.8619L11.2545 10.3119C12.1359 9.22325 12.6665 7.83992 12.6665 6.33328C12.6665 2.84132 9.82522 0 6.33325 0C2.84128 0 0 2.84128 0 6.33325C0 9.82522 2.84132 12.6665 6.33328 12.6665C7.83992 12.6665 9.22325 12.1359 10.3119 11.2545L14.8619 15.8045C14.9919 15.9345 15.1625 15.9998 15.3332 15.9998C15.5039 15.9998 15.6745 15.9345 15.8045 15.8045C16.0652 15.5438 16.0652 15.1225 15.8045 14.8619ZM6.33328 11.3332C3.57597 11.3332 1.33333 9.09057 1.33333 6.33325C1.33333 3.57593 3.57597 1.3333 6.33328 1.3333C9.0906 1.3333 11.3332 3.57593 11.3332 6.33325C11.3332 9.09057 9.09057 11.3332 6.33328 11.3332Z" fill="white"/>
                    </svg> 
                    | Поиск
            .intro__wrapper
                .intro__top 
                    .intro__item.first
                        p.intro__subtitle Код ТН ВЭД
                    .intro__item.second
                        p.intro__subtitle Вероятность
                    .intro__item.third
                        p.intro__subtitle Описание
                .intro__content 
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio1").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio2").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio3").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio4").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio4").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio4").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio4").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                    .accordion 
                        button.accordion__button
                            .intro__item.first
                                .accordion__row 
                                    input(type="radio" name="radio" id="radio4").accordion__radio
                                    .accordion__info 
                                        p.accordion__id 54956734654
                                        a(href="#!").accordion__link Смотреть 
                                            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.18752 3.49998C4.18752 3.57191 4.16003 3.64391 4.10511 3.69883L1.29261 6.51133C1.18271 6.62122 1.00475 6.62122 0.894924 6.51133C0.785096 6.40143 0.785025 6.22347 0.894924 6.11364L3.50858 3.49998L0.894924 0.886326C0.785025 0.776428 0.785025 0.598466 0.894924 0.488638C1.00482 0.37881 1.18278 0.37874 1.29261 0.488638L4.10511 3.30114C4.16003 3.35605 4.18752 3.42805 4.18752 3.49998Z" fill="#3BA4D1"/>
                                            </svg>
                            .intro__item.second
                                .accordion__progress 
                                    p.accordion__percent 30%
                                    .accordion__percent-img 
                                        <svg width="31" height="41" viewBox="0 0 31 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0C4.89212 5.8338e-08 9.71479 1.15782 14.0737 3.3788C18.4326 5.59977 22.204 8.82085 25.0795 12.7787C27.955 16.7365 29.853 21.3186 30.6183 26.1505C31.3836 30.9824 30.9945 35.9268 29.4828 40.5795L20.6379 37.7057C21.6962 34.4488 21.9685 30.9877 21.4328 27.6054C20.8971 24.223 19.5685 21.0155 17.5557 18.2451C15.5428 15.4746 12.9028 13.2198 9.85159 11.6652C6.80035 10.1105 3.42448 9.3 0 9.3V0Z" fill="url(#paint0_linear_95_234)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_95_234" x1="-31" y1="31" x2="31" y2="31" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#B7E9FF"/>
                                            <stop offset="1" stop-color="#379BC6"/>
                                            </linearGradient>
                                            </defs>
                                        </svg>
                            .intro__item.third 
                                p.accordion__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 2.1999C6.5 1.48196 7.08206 0.899902 7.8 0.899902H24.7C25.4179 0.899902 26 1.48196 26 2.1999C26 2.91785 25.4179 3.4999 24.7 3.4999H7.8C7.08206 3.4999 6.5 2.9178 6.5 2.1999ZM24.7 8.6999H1.3C0.582055 8.6999 0 9.28201 0 9.9999C0 10.7178 0.582055 11.2999 1.3 11.2999H24.7C25.4179 11.2999 26 10.7178 26 9.9999C26 9.28201 25.4179 8.6999 24.7 8.6999ZM24.7 16.4999H13C12.2821 16.4999 11.7 17.082 11.7 17.7999C11.7 18.5178 12.2821 19.0999 13 19.0999H24.7C25.4179 19.0999 26 18.5178 26 17.7999C26 17.082 25.4179 16.4999 24.7 16.4999Z" fill="#3BA4D1"/>
                                </svg>
                                <svg class="active" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_95_131)">
                                    <path d="M14.7904 12.5204L24.5249 2.78564C25.1584 2.15243 25.1584 1.12862 24.5249 0.495414C23.8917 -0.137794 22.8679 -0.137794 22.2347 0.495414L12.4999 10.2302L2.76536 0.495414C2.13185 -0.137794 1.10834 -0.137794 0.475129 0.495414C-0.158376 1.12862 -0.158376 2.15243 0.475129 2.78564L10.2096 12.5204L0.475129 22.2552C-0.158376 22.8884 -0.158376 23.9123 0.475129 24.5455C0.790695 24.8613 1.20562 25.02 1.62024 25.02C2.03487 25.02 2.44949 24.8613 2.76536 24.5455L12.4999 14.8107L22.2347 24.5455C22.5505 24.8613 22.9651 25.02 23.3798 25.02C23.7944 25.02 24.209 24.8613 24.5249 24.5455C25.1584 23.9123 25.1584 22.8884 24.5249 22.2552L14.7904 12.5204Z" fill="#EB6565"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_95_131">
                                    <rect width="25" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                        .accordion__content 
                            .accordion__content-body 
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                p.accordion__txt Текст пример
                                            