mixin popup()
    .popup.close-popup
        .popup__body
            .popup__wrapper
                h2.popup__title Требования
                button(type="button").popup__btn.close-popup    
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_112_2)">
                        <path d="M19.5233 16.527L32.3728 3.67708C33.2091 2.84124 33.2091 1.48981 32.3728 0.653976C31.537 -0.181859 30.1856 -0.181859 29.3497 0.653976L16.4998 13.5039L3.65027 0.653976C2.81404 -0.181859 1.463 -0.181859 0.62717 0.653976C-0.209057 1.48981 -0.209057 2.84124 0.62717 3.67708L13.4767 16.527L0.62717 29.3769C-0.209057 30.2128 -0.209057 31.5642 0.62717 32.4C1.04372 32.817 1.59141 33.0264 2.13872 33.0264C2.68603 33.0264 3.23333 32.817 3.65027 32.4L16.4998 19.5501L29.3497 32.4C29.7667 32.817 30.314 33.0264 30.8613 33.0264C31.4086 33.0264 31.9559 32.817 32.3728 32.4C33.2091 31.5642 33.2091 30.2128 32.3728 29.3769L19.5233 16.527Z" fill="#EB6565"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_112_2">
                        <rect width="33" height="33" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                .popup__content 
                    .popup__line 
                        .popup__item.first 
                            p.popup__subtitle Разрешительный документ:
                            p.popup__p Сертификат соответсвия
                        .popup__item.second 
                            p.popup__subtitle Технический Регламент Таможенного Союза*
                            p.popup__p TP TC 004/2011
                        .popup__item.third 
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
                    .popup__line 
                        .popup__item.first 
                        .popup__item.second 
                            p.popup__subtitle Технический Регламент Таможенного Союза*
                            p.popup__p TP TC 004/2011
                        .popup__item.third 
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
                    .popup__line 
                        .popup__item.first 
                        .popup__item.second 
                            p.popup__subtitle Технический Регламент Таможенного Союза*
                            p.popup__p TP TC 004/2011
                        .popup__item.third 
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
                            p.popup__subtitle Обозначение стандарт*
                            p.popup__p ГОСТ IEC 60745-1-2011
            button(type="button").popup__button Найти орган, лабораторию